<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sports
    </title>
    <link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>
        <div class="banner">
            <div class="text">
                <h2><b>sports</h2></b>
                <h3>you are the future athelete</h3>
                <p id="p1">a running body is healthy body.
                </p>
                <button id="b1">
                    learn more
                </button>
            </div>
        </div>
        <div class="container"><h2 id="head">Sports At Orchids</h2>
        <p>"What can be learned on the ground cannot be learned in the classroom"
        
        At ORCHIDS, we lay a strong emphasis on sports and physical development. Our sports curriculum is planned and designed
        for students to develop and enhance skills like strength, speed, endurance, agility, flexibility, control, balance etc.
        Sports today has also evolved as a form of entertainment and also offers promising careers.
        
        We believe in mass participation, exposing our students to a number of sports events at inter-school, state, national
        and international levels. Every student is encouraged to join at least one school sports team. The P.E. teachers we
        employ are young and energetic with a good amount of expertise in sports and provide coaching for sports like football,
        basketball, throwball etc.
        
        We have weekly achievable goals for the different skills required for a particular sport and train students accordingly.
        Intersection matches are conducted every four months.
        
        For students to know the benefits of the sports they play, they are informed about the body parts and muscle development
        in playing each sport along with game knowledge.
        
        <h3>SWIMMING</h3>
        Swimming has been on a rise with a huge number of Indians performing at National and International tournaments all
        across the nation. It is an all-around activity that includes muscular development, cardiovascular development, body and
        mind coordination, making a student endurable and fit.
        
        <h3>TAEKWONDO</h3>
        Combat sports today are recognized as an art form and are considered to be amazingly beneficial for enhancing the
        functioning of all of our senses. It adds to our strength, alertness and response, endurance and so much more. Taekwondo
        strengthens mental and physical strength. It gives a sense of self-discipline at an early stage of life.
        
        <h3>FOOTBALL</h3>
        Every child’s fantasy begins with being the next Lionel Messi. Football is the most popular sport and every child must
        have that experience. We have dedicated football fields along with guided tutoring.
        
        <h3>THROWBALL</h3>
        Throwball helps improve a child’s agility, judgment and adds to their team contribution. Along with physical
        development, it inculcates in a child, values of teamwork and dedication.
        
        <h3>BASKETBALL</h3>
        Basketball adds on to the development of a child’s mind, tolerance, coordination and most importantly imparts a sense of
        rigor. Like any other sport, even basketball counts for a lot of practice and dedication.
        
        <h3>VOLLEYBALL</h3>
        Volleyball is a sport that requires teamwork and coordination. Children learn to work in a team, take responsibility and
        trust their teammates.
        
        <h3>HANDBALL</h3>
        This sport develops a child’s wrist strength and teaches them agility. This sport is one of the earliest sports taught
        to children.
        
        <h3>ATHLETIC</h3>
        Activities like Marathons, Races, Long Jump etc are all a part of Athletics which boost the morale of our students to
        try harder with better preparations every time they perform. These activities stretch their abilities and enhance their
        stamina, muscle tone and have a number of physical benefits.</p>
        </div>
            <div class="container2">
                <h3 id="h3">gallery</h3>
                <div class="img">
                    <div id="one"></div>
                    <div id="two"></div>
                    <div id="three"></div>
                    <div id="four"></div>
                    <div id="five"></div>
                    <div id="six"></div>
                    <div id="seven"></div>
                    <div id="eigth"></div>
                    <div id="nine"></div>
                    <div id="ten"></div>
                    <div id="eleven"></div>
                    <div id="twelve"></div>
                    <div id="thir"></div>
                    <div id="fourt"></div>
                    <div id="fift"></div>
                    <div id="sixt"></div>
                </div>
            
            </div>
</body>
</html>