<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
        <div class="banner">
            <div class="text">
                <h2><b>dance</h2></b>
                <h3>Children should be involved in at least one art form</h3>
                <p id="p1">
                Children should be involved in at least one art form
                Children should be involved in at least one art form as it contributes to their happiness. And when combined with
                learning, it must never be ignored. At ORCHIDS, we believe dance is an integral aspect of a balanced education
                programme. It is a unique way of enhancing creativity, confidence, and expression in a student. We have introduced an
                entire curriculum on kinesthetic learning to make sure our students get the best chance at improving their body and mind
                coordination, bringing a balance to their lives.
                </p>
                <button id="b1">
                    learn more
                </button>
            </div>
        </div>
            <div class="content">
                <h2 id="head">dance</h2>
                <p>
                Children should be involved in at least one art form as it contributes to their happiness. And when combined with
                learning, it must never be ignored. At ORCHIDS, we believe dance is an integral aspect of a balanced education
                programme.
                <br>
                <br>
                It is a unique way of enhancing creativity, confidence, and expression in a student. We have introduced an entire
                curriculum on kinesthetic learning to make sure our students get the best chance at improving their body and mind
                coordination, bringing a balance to their lives.
                <br>
                <br>
                ORCHIDS Dance Curriculum(ODC) introduces Physical, Mental and Social Attributes on a wider scale. It teaches them
                flexibility, strength, endurance, balance coordination, etc. both physically and in terms of a life skill.
                <br>
                <br>
                <strong> Dance Curriculum(ODC) – PRE-PRIMARY : </strong>Curriculum designed for Pre-Primary students includes:
                <br>
              <ul>
                 <li>Motor skills development : Increased range of movement, body awareness & coordination, building muscle memory and
                flexibility in the students. </li>
                <br>
                <li>Enhancing creativity and confidence : Provides opportunities to innovate dance moves, promotes free expression of
                emotion &
                opinion, an absolute non-judgmental environment which helps to create confident movers.</li>
                <br>
                  <li>Brain development : Involves movement designed to promote brain development (Brain Dance By Anne Green Gilbert & Carla
                Hannaford’s Theory of Child Development). </li>
                <br>
                 <li>Kinesthetic learning :
                Usage of music and lyrics with concepts that are understandable. For example – Story of a tree growing.</li>
                <br>
                <li>Introduces a huge bank of movement vocabulary through the concept of Elements of Dance (body/energy/space/time).</li>
              </ul>
              <br>
              <br>
                <strong>Introducing basic Jazz syllabus :</strong> Polishes Good Posture, Performance and introduces Jazz terminology-Jazz fist, blade,
                hands etc.
                <br>
                <strong> Dance Curriculum(ODC)- Secondary:</strong>
                The Dance curriculum for the Secondary classes of Grade V to X takes a step forward to advanced training as per the age
                group being covered in the curriculum. Each dance form and activity has been allocated different weeks and broken down
                into steps in order to cover every aspect of every form and take out the best of learnings that we have to grasp. The
                Class structure covers everything from warm up, isolation, footwork etc to flexibility cooldowns. The similar structure
                is formed for every dance form. We have taken into account each element of dance, Body / Action / Space / Energy /
                Relationships. The last week counts for a showcase week, where all the efforts are put to presentation in Mega Events.
                <br>
                <br>
                My Dance Book is an initiative for all to jot down their experiences and learnings as reflections.
                <br>
                <br>
                Our Dance curriculum is unique for each age group and each dance form. We move forward with proper assessments and a
                strategize curriculum, always ready to be upgraded with the latest trends and teaching methods with the help of our
                highly trained professionals.
                <br>
                <br>
                <strong>Dance rooms</strong>
                <br>
                We have designated dance rooms as comfortable space, and dance teachers to help our students express their feelings
                through movement. We have various talent events throughout the year that allow our students to explore their interests
                and aim for better challenges.
                    <br>
                    <br>
                 </p>
            </div>
            <div class="container">
                <video id="video" src="/dance/dance.mp4" controls loop></video>
            </div>
            <div class="container2">
                <h3 id="h3">gallery</h3>
                <div class="img">
                    <div id="one"></div>
                    <div id="two"></div>
                    <div id="three"></div>
                    <div id="four"></div>
                    <div id="five"></div>
                    <div id="six"></div>
                    <div id="seven"></div>
                    <div id="eigth"></div>
                    <div id="nine"></div>
                    <div id="ten"></div>
                    <div id="eleven"></div>
                    <div id="twelve"></div>
            </div>
</body>
</html>