<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art</title>
    <link rel=" stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="banner">
        <div class="text">
            <h2><b>art & craft</h2></b>
            <h3>give wings to your imagination</h3>
            <p id="p1">do what your truely desire and make the world a colorfull place and paint the world like a rainbow </p>
            <button id="b1">
                learn more
            </button>
        </div>
    </div>
    <div class="content">
        <h2 id="head">ART</h2>
        <p >
Art stimulates the imagination. To watch a child completely engrossed in arts is to recognize that the brain is active and driven by aesthetics and emotions, to make meaning, state opinions, and represent what matters to them.
<br>
<br>
Our ART curriculum emphasizes  the development of a child’s fine motor skills i.e. the development of a child’s body and mind coordination, which takes place at a particular age when a child is going through the EYP phase. This particular phase plays a very important role in a child’s life since this is where he/she develops the ability to reach out to his/her creative potentials, which is then reflected in the higher grades.

Grades I and II Include:
<ul>
<li>Shapes & Colours</li>
<li>Application of Print Techniques</li>
<li>Basics of Origami</li>
<li>Drawing skills</li>
<li>Painting Techniques</li>
</ul>
Education in visual arts is fundamental to the aesthetic, physical, emotional, intellectual, and social growth of the individual. It provides children with unique ways of knowing, doing, living, and belonging to a global community.

When children reach Grade III, their creativity and imagination that they develop, require channeling, so as to have a constructive outcome. Hence we have initiated the concept of ‘Kits’ in different subjects.

</p>
    </div>
    <div class="container">
        <video id="video" src="/art.mp4" controls loop></video>
    </div>
    <div class="container2">
        <h2 id="h2">gallery</h2>
        <div class="img">
            <div id="one"></div>
            <div id="two"></div>
            <div id="three"></div>
            <div id="four"></div>
            <div id="five"></div>
        </div>

    </div>
</body>
</html>